# =========================
# Frontend
# =========================
frontend/node_modules/
frontend/dist/
frontend/.env

# =========================
# Backend
# =========================
backend/venv/
backend/__pycache__/
backend/.env
*.pyc

# =========================
# Python Cache
# =========================
__pycache__/
*.pyo
*.pyd

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db